<a href="https://colab.research.google.com/github/SrikanthGajjavarapu/SrikanthGajjavarapu/blob/main/Project3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Finding the spam and ham mail using SVC(support vector classifier) model.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('spam.csv',encoding='latin-1')
mail_data=data.where((pd.notnull(data)),' ')

In [ ]:
mail_data.head

<bound method NDFrame.head of         v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

     Unnamed: 3 Unnamed: 4
0
1
2
3
4
...         ...        ...
5567
5568
5569
5570
5571

[5572 rows x 5 columns]>

In [ ]:
mail_data.shape

(5572, 5)

Spam mail=0 ,  Ham mail=1

In [ ]:
mail_data.loc[mail_data['v1']=='spam','v1',]=0
mail_data.loc[mail_data['v1']=='ham','v1',]=1

In [ ]:
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,"Go until jurong point, crazy.. Available only ...",,,
1,1,Ok lar... Joking wif u oni...,,,
2,0,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,1,U dun say so early hor... U c already then say...,,,
4,1,"Nah I don't think he goes to usf, he lives aro...",,,

In [ ]:
x=mail_data['v2']
y=mail_data['v1']

In [ ]:
print(x)
print(...)
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
Ellipsis
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [ ]:
from sklearn.svm import LinearSVC
model=LinearSVC()
model.fit(x_train_features,y_train)

LinearSVC()

In [ ]:
from sklearn.metrics import accuracy_score
prediction_on_training_data=model.predict(x_train_features)
accuracy_train=accuracy_score(y_train,prediction_on_training_data)
print(accuracy_train)

0.9995512676688355

In [ ]:
test=model.predict(x_test_features)
acurracy_test=accuracy_score(y_test,test)
print(acurracy_test)

0.9856502242152466

In [ ]:
input_mail=['WINNER!! As a valued network customer you have been selected to receivea å£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.']

In [ ]:
input_mail_features=feature_extraction.transform(input_mail)
prediction=model.predict(input_mail_features)
print(prediction)

[0]

In [ ]:
if prediction[0]==1:
  print('HAM MAIL')
else:
  print('SPAM MAIL')

SPAM MAIL