<a href="https://colab.research.google.com/github/SrikanthGajjavarapu/SrikanthGajjavarapu/blob/main/Project4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Weather prediction using ML GaussianNB Model**

In [ ]:
import pandas as pd

In [ ]:
wt=pd.read_csv('weather.csv')

In [ ]:
wt.head()

    outlook temperature humidity  windy play
0  overcast         hot     high  False  yes
1  overcast        cool   normal   True  yes
2  overcast        mild     high   True  yes
3  overcast         hot   normal  False  yes
4     rainy        mild     high  False  yes

In [ ]:
wt.describe()

       outlook temperature humidity  windy play
count       14          14       14     14   14
unique       3           3        2      2    2
top      rainy        mild     high  False  yes
freq         5           6        7      8    9

In [ ]:
from sklearn.preprocessing import LabelEncoder
numerics=LabelEncoder()

In [ ]:
inputs=wt.drop('play',axis='columns')
target=wt['play']
target

0     yes
1     yes
2     yes
3     yes
4     yes
5     yes
6      no
7     yes
8      no
9      no
10     no
11     no
12    yes
13    yes
Name: play, dtype: object

In [ ]:
inputs['outlook_n']=numerics.fit_transform(inputs['outlook'])
inputs['temperature_n']=numerics.fit_transform(inputs['temperature'])
inputs['humidity_n']=numerics.fit_transform(inputs['humidity'])
inputs['windy_n']=numerics.fit_transform(inputs['windy'])
inputs

,outlook,temperature,humidity,windy,outlook_n,temperature_n,humidity_n,windy_n
0,overcast,hot,high,False,0,1,0,0
1,overcast,cool,normal,True,0,0,1,1
2,overcast,mild,high,True,0,2,0,1
3,overcast,hot,normal,False,0,1,1,0
4,rainy,mild,high,False,1,2,0,0
5,rainy,cool,normal,False,1,0,1,0
6,rainy,cool,normal,True,1,0,1,1
7,rainy,mild,normal,False,1,2,1,0
8,rainy,mild,high,True,1,2,0,1
9,sunny,hot,high,False,2,1,0,0
10,sunny,hot,high,True,2,1,0,1
11,sunny,mild,high,False,2,2,0,0
12,sunny,cool,normal,False,2,0,1,0
13,sunny,mild,normal,True,2,2,1,1

In [ ]:
inputs_n=inputs.drop(['outlook','temperature','humidity','windy'],axis='columns')
inputs_n

    outlook_n  temperature_n  humidity_n  windy_n
0           0              1           0        0
1           0              0           1        1
2           0              2           0        1
3           0              1           1        0
4           1              2           0        0
5           1              0           1        0
6           1              0           1        1
7           1              2           1        0
8           1              2           0        1
9           2              1           0        0
10          2              1           0        1
11          2              2           0        0
12          2              0           1        0
13          2              2           1        1

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(inputs_n,target)

GaussianNB()

In [ ]:
classifier.score(inputs_n,target)

0.9285714285714286

In [ ]:
w=classifier.predict([[2,1,0,0]])
w

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array(['no'], dtype='<U3')

In [ ]:
if w[0]=='yes':
  print("The game will happens tomorrow")
else:
  print("The game will not happens tomorrow")

The game will not happens tomorrow